{
	admin off
	auto_https off
	ocsp_stapling off
	persist_config off

	servers :8080 {
		name http
		protocols h1
	}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}

	#order mercure after encode
	#order vulcain after reverse_proxy
	order php_server before file_server
	order php before file_server
}

:8080 {
	root * /app/public

	skip_log *

	encode zstd br gzip

	php_server {
		resolve_root_symlink
	}
}
