{
    admin off
    auto_https off

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}

	#order mercure after encode
	#order vulcain after reverse_proxy
	order php_server before file_server
	order php before file_server
}

:8443 {
    root * /app/public

    skip_log *

    encode zstd gzip

    tls /etc/caddy/cert/tls.crt /etc/caddy/cert/tls.key

    php_server {
        resolve_root_symlink
    }
}